<ion-view view-title="Add Student">
  <ion-content>
    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="Full Name" ng-model="studentdata.name" required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Age" ng-model="studentdata.age" required>
        </label>
        <br>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="updatestudent()">Update</button>
      </div>
    </div>

  </ion-content>
</ion-view>
