<ion-view view-title="List">
  <ion-content>
    <ion-list ng-init="getstudentlist();">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stud in studentlist" type="item-text-wrap" >
        <h2>{{stud.name}}</h2>
        <p>Age : {{stud.age}}</p>
        <span class="pull-right">
              <i class="icon ion-edit icon-accessory edit" ui-sref="tab.editstudent({studentdata:stud})"></i>
               <i class="icon ion-close icon-accessory"  ng-click="deletestud(stud)"></i>
        </span>
         <span>
             
        </span>
      
       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
